<h1>Listing items</h1>

<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Cost</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr> 
    <td><%= image_tag item.image.url(:medium) %></td>
    <td><%= item.name %></td>
    <td><%= item.cost %></td>
    <td><%= raw(item.description) %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_item_path %>
